{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    
    <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{{ asset("assets/img/logo.png") }}" alt="Logo">
                            </a>
                        </div>
                    </div>
                    <div class="col-md-6">

                    </div>
                    <div class="col-md-3">
                        <div class="user">
                            <a href="wishlist.html" class="btn wishlist">
                                <i class="fa fa-heart"></i>
                                <span>(0)</span>
                            </a>
                            <a href="cart.html" class="btn cart">
                                <i class="fa fa-shopping-cart"></i>
                                <span>(0)</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->  
        
        <!-- Breadcrumb Start -->
        <div class="breadcrumb-wrap">
            <div class="container-fluid">
                <ul class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item"><a href="#">Products</a></li>
                    <li class="breadcrumb-item active">Product List</li>
                </ul>
            </div>
        </div>
        <!-- Breadcrumb End -->
        
        <!-- Product List Start -->
        <div class="product-view">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-lg-8">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="product-view-top">
                                    <div class="row">
                                        <div class="col-md-4">

                                        </div>
{#                                        <div class="col-md-4">#}
{#                                            <form action="{{ path('books') }}" method="post" class="product-search">#}
{#                                                <input type="text" name="title" placeholder="entrez un mot clé">#}
{#                                                <button type="submit"><i class="fa fa-search"></i></button>#}
{#                                            </form>#}
{#                                        </div>#}
                                        <div class="col-md-4">

                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% for book in books %}
                            <div class="col-md-4 ">
                                <div class="product-item">
                                    <div class="product-title">
                                        <a href="#">{{ book.title }}</a>
                                        <div>{{ book.author }}</div>
                                        <div class="ratting">
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                            <i class="fa fa-star"></i>
                                        </div>
                                    </div>
                                    <div class="product-image">
                                        <a href="{{ path('addbook', {'id': book.id}) }}">
{#                                            <img src="img/product-1.jpg" alt="Product Image">#}
                                            <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" alt="{{ book.title }}" width="300" height="300">
                                        </a>

                                    </div>
                                    <div class="product-price row justify-content-between ">
                                        <a class="btn col-4" href="{{ path('askbook', {'id': book.id}) }}" title="Je le veux">Vouloir</a>
                                        <a class="btn col-4" href="{{ path('book', {'id': book.id}) }}" title="Je le possède">Posséder</a>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                        </div>
                        {{ knp_pagination_render(books) }}
                        <!-- Pagination Start -->
                        <div class="col-md-12">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item disabled">
                                        <a class="page-link" href="#" tabindex="-1">Previous</a>
                                    </li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item">
                                        <a class="page-link" href="#">Next</a>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        <!-- Pagination Start -->
                    </div>           
                    
                    <!-- Side Bar Start -->
                    <div class="col-lg-4 sidebar">
                        <div class="sidebar-widget category">
                            <h2 class="title">Rechercher un livre</h2>
                            <nav class="navbar bg-light">
                                <ul class="navbar-nav">
                                    <li class="nav-item">

                                        <form method="post" action="{{ path('books') }}" class="form-group">
                                            {% form_theme searchForm 'bootstrap_4_layout.html.twig' %}
                                            {{ form_start(searchForm) }}
                                            {{ form_row(searchForm.title, {'label': "Par titre ", 'attr': {'placeholder': 'titre du livre...'}}) }}
                                            <button type="submit" class="btn btn-primary">rechercher</button>
                                            {{ form_end(searchForm) }}
                                        </form>
                                    </li>
                                </ul>
                            </nav>
                        </div>
                        
                        <div class="sidebar-widget widget-slider">
                            <div class="sidebar-slider normal-slider">
                                {% for book in books %}
                                    <div class="col-md-4 ">
                                        <div class="product-item">
                                            <div class="product-title">
                                                <a href="#">{{ book.title }}</a>
                                                <div>{{ book.author }}</div>
                                                <div class="ratting">
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                    <i class="fa fa-star"></i>
                                                </div>
                                            </div>
                                            <div class="product-image">
                                                <a href="{{ path('addbook', {'id': book.id}) }}">
                                                    {#                                            <img src="img/product-1.jpg" alt="Product Image">#}
                                                    <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" alt="{{ book.title }}" width="100" height="500" class="pl-3">
                                                </a>
{#                                                <div class="product-action">#}
{#                                                    <a href="#"><i class="fa fa-cart-plus"></i></a>#}
{#                                                    <a href="#"><i class="fa fa-heart"></i></a>#}
{#                                                    <a href="#"><i class="fa fa-search"></i></a>#}
{#                                                </div>#}
                                            </div>
                                            <div class="product-price row justify-content-between ">
                                                <a class="btn col-4" href="{{ path('askbook', {'id': book.id}) }}" title="Je le veux">Vouloir</a>
                                                <a class="btn col-4" href="{{ path('book', {'id': book.id}) }}" title="Je le possède">Posséder</a>
                                            </div>
                                        </div>
                                    </div>
                                {% endfor %}

                            </div>
                        </div>
                        
                        <div class="sidebar-widget brands">
                            <h2 class="title">Our Brands</h2>
                            <ul>
                                <li><a href="#">Nulla </a><span>(45)</span></li>
                                <li><a href="#">Curabitur </a><span>(34)</span></li>
                                <li><a href="#">Nunc </a><span>(67)</span></li>
                                <li><a href="#">Ullamcorper</a><span>(74)</span></li>
                                <li><a href="#">Fusce </a><span>(89)</span></li>
                                <li><a href="#">Sagittis</a><span>(28)</span></li>
                            </ul>
                        </div>
                        
                        <div class="sidebar-widget tag">
                            <h2 class="title">Tags Cloud</h2>
                            <a href="#">Lorem ipsum</a>
                            <a href="#">Vivamus</a>
                            <a href="#">Phasellus</a>
                            <a href="#">pulvinar</a>
                            <a href="#">Curabitur</a>
                            <a href="#">Fusce</a>
                            <a href="#">Sem quis</a>
                            <a href="#">Mollis metus</a>
                            <a href="#">Sit amet</a>
                            <a href="#">Vel posuere</a>
                            <a href="#">orci luctus</a>
                            <a href="#">Nam lorem</a>
                        </div>
                    </div>
                    <!-- Side Bar End -->
                </div>
            </div>
        </div>

{% endblock %}
