{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    
        
        <!-- Bottom Bar Start -->
        <div class="bottom-bar">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-3">
                        <div class="logo">
                            <a href="index.html">
                                <img src="{{ asset("assets/img/logo.png") }}" alt="Logo">
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- Bottom Bar End -->

        <!-- Main Slider Start -->
        <div class="header">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-3">
                        


                    </div>
                    <div class="col-md-6">
                        <div class="header-slider normal-slider">
                            <div class="header-slider-item">
                                <img src="{{ asset("assets/img/unnamed.png") }}" alt="Slider Image" />
                                <div class="header-slider-caption">
                                    <p>Bienvenue dans votre plateforme de troc de livre </p>
                                </div>
                            </div>
                            <div class="header-slider-item text-center">
                                <img src="{{ asset("assets/img/troc-banner.jpg") }}" alt="Slider Image" width="auto" height="300"/>
                                <div class="header-slider-caption">
                                    <p>Vous trouverez des milliers de livres </p>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
        </div>
        <!-- Main Slider End -->

        
        <!-- Feature Start-->
        <div class="call-to-action mb-3" >
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-12">
                        <h1>Comment ça marche</h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="feature">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fas fa-book"></i>
                            <h2>Ajouter un livre</h2>
                            <p>
                                Si vous voyer un livre que vous posseder ajouter le a votre liste de livre avec le bouton posseder.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-truck"></i>
                            <h2>Demander un livre</h2>
                            <p>
                                Utiliser vos points pour demander un livre avec le bouton vouloir.
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fas fa-users"></i>
{#                            <i class="fa fa-sync-alt"></i>#}
                            <h2>Notification</h2>
                            <p>
                                Une notification est envoyer à tous les utilisateurs ayant le livre demander
                            </p>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6 feature-col">
                        <div class="feature-content">
                            <i class="fa fa-comments"></i>
                            <h2>Réponse</h2>
                            <p>
                                Attendez la réponse de l'un des utilisateurs
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Feature End-->      
        
        <!-- Category Start-->
        
        <!-- Category End-->       
        
        <!-- Call to Action Start -->
        <div class="call-to-action">
            <div class="container-fluid">
                <div class="row align-items-center">
                    <div class="col-md-6">
                        <h1>Appelez nous pour tout vos questions</h1>
                    </div>
                    <div class="col-md-6">
                        <a href="tel:772412965">+221772412965</a>
                    </div>
                </div>
            </div>
        </div>
        <!-- Call to Action End -->       
        
        <!-- Featured Product Start -->
        <div class="featured-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Venez échanger vos livres</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">

                    {% for book in books %}
                    <div class="col-lg-3">
                        <div class="product-item">
                            <div class="product-title">
                                <a href="#">{{ book.title }}</a>
                                <div>{{ book.author }}</div>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                            </div>
                            <div class="product-image">
{#                                <a href="{{ path('book', {'id': book.id}) }}">#}
                                    <a href="{{ path('book', {'id': book.id}) }}">
{#                                    <img src="img/product-5.jpg" alt="Product Image">#}
                                    <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" alt="{{ book.title }}" width="250" height="400">

                                </a>
{#                                <div class="product-action">#}
{#                                    <a href="#"><i class="fa fa-cart-plus"></i></a>#}
{#                                    <a href="#"><i class="fa fa-heart"></i></a>#}
{#                                    <a href="#"><i class="fa fa-search"></i></a>#}
{#                                </div>#}
                            </div>
                            <div class="product-price row justify-content-between">
                                <a class="js-need btn col-4" href="{{ path('askbook', {'id': book.id}) }}" title="Je le veux">Vouloir</a>
                                <a class="js-have btn col-4" href="{{ path('addbook', {'id': book.id}) }}" title="Je le possède">Posséder</a>
                            </div>
                        </div>
                    </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Featured Product End -->       
        
        <!-- Newsletter Start -->
        <div class="newsletter">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        <h1>Inscrivez vous à notre newsletter</h1>
                    </div>
                    <div class="col-md-6">
                        <div class="form">
                            <input type="email" value="Your email here">
                            <button>Submit</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter End -->        
        
        <!-- Recent Product Start -->
        <div class="recent-product product">
            <div class="container-fluid">
                <div class="section-header">
                    <h1>Recent Product</h1>
                </div>
                <div class="row align-items-center product-slider product-slider-4">
                    {% for book in books %}
                        <div class="col-lg-3">
                            <div class="product-item ml-3 mt-3">
                                <div class="product-title">
                                    <a href="#">{{ book.title }}</a>
                                    <div>{{ book.author }}</div>
                                    <div class="ratting">
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                        <i class="fa fa-star"></i>
                                    </div>
                                </div>
                                <div class="product-image">
                                    <a href="{{ path('book', {'id': book.id}) }}">
                                        <img src="http://covers.openlibrary.org/b/isbn/{{book.isbn}}-L.jpg" alt="{{ book.title }}" width="250" height="400">

                                    </a>
                                </div>
                                <div class="product-price row justify-content-between">
                                    <a class="js-need btn col-4" href="{{ path('askbook', {'id': book.id}) }}" title="Je le veux">Vouloir</a>
                                    <a class="js-have btn col-4" href="{{ path('addbook', {'id': book.id}) }}" title="Je le possède">Posséder</a>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>
            </div>
        </div>
        <!-- Recent Product End -->
        
        <!-- Review Start -->
        <div class="review">
            <div class="container-fluid">
                <div class="row align-items-center review-slider normal-slider">
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="img/review-1.jpg" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Excellent site web pour échanger vos livres . 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="img/review-2.jpg" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Depuis que j'ai commencé a utiliser "Nom du site" j'ai toujours un nouveau livre a lire. 
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="review-slider-item">
                            <div class="review-img">
                                <img src="img/review-3.jpg" alt="Image">
                            </div>
                            <div class="review-text">
                                <h2>Customer Name</h2>
                                <h3>Profession</h3>
                                <div class="ratting">
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                    <i class="fa fa-star"></i>
                                </div>
                                <p>
                                    Bonjour je m'appelle Ousmane et je vous conseil vivement de partager vos livres via nomdusite deux ans déjà et pas de problème .
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Review End -->
{% endblock %}

{% block javascripts %}
    {% include 'js/javascript.html' %}
{% endblock %}
